    <!-- !ATENÇÃO! ESTE ARQUIVO NÃO DEVE SER ALTERADO -->
    <!-- QUAISQUER ALTERAÇÕES DEVEM SER COMUNICADAS AO GRUPO PARA QUE TODOS APROVEM -->

<style>
    footer {
    margin-top: 10%;
    display: flex;
    background-color: #1A1A1A;
    max-width: 100%;
    font-family: 'IBM Plex Mono';
    height: max-content;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    
}

.social-medias {
    display: flex;
    margin-top: 4%;
    align-items: center;
    justify-content: center;
}

.faq {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    list-style: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
</style>
    <!-- Abaixo você irá encontrar o footer para por dentro do seu projeto -->
    <!-- HTML -->
    <footer>
        <div class="social-medias">
            <div class="social-medias-align">
            <i class="fa-brands fa-twitter-square fa-2xl"></i>
            <i class="fa-brands fa-facebook-square fa-2xl"></i>
            <i class="fa-brands fa-google-plus-square fa-2xl"></i>
            <i class="fa-brands fa-instagram-square fa-2xl"></i>
            </div>
        </div>

        <div class="faq">
            <div class="faq-links">
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#terms">Terms & Conditions</a></li>
            </div>
            <div class="faq-links">
                <li><a href="#careers">Careers</a></li>
                <li><a href="#country">Change Country</a></li>
                <li><a href="#faq">FAQ</a></li>
            </div>
        </div>
    </footer>