<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="./footer.css">
    <!-- NÃO ESQUEÇA DE COPIAR O SCRIPT DE ICONES ABAIXO. -->
    <script src="https://kit.fontawesome.com/55ee65c954.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- !ATENÇÃO! ESTE ARQUIVO NÃO DEVE SER ALTERADO -->
    <!-- QUAISQUER ALTERAÇÕES DEVEM SER COMUNICADAS AO GRUPO PARA QUE TODOS APROVEM -->


    <!-- Abaixo você irá encontrar o footer para por dentro do seu projeto -->
    <footer>
        <div class="social-medias">
            <div class="social-medias-align">
            <i class="fa-brands fa-twitter-square fa-2xl"></i>
            <i class="fa-brands fa-facebook-square fa-2xl"></i>
            <i class="fa-brands fa-google-plus-square fa-2xl"></i>
            <i class="fa-brands fa-instagram-square fa-2xl"></i>
            </div>
        </div>

        <div class="faq">
            <div class="faq-links">
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#terms">Terms & Conditions</a></li>
            </div>
            <div class="faq-links">
                <li><a href="#careers">Careers</a></li>
                <li><a href="#country">Change Country</a></li>
                <li><a href="#faq">FAQ</a></li>
            </div>
        </div>
    </footer>
    
</body>
</html>