    <style>
.boxHeader {
    max-width: 100%;
    height: 100px;
    background-color: #2D9BF0;
}
.iconLogo {
    width: 50px;
}
.icon1 {
    width: 45px;
    transition: all 400ms;
}
.icon1:hover {
    width: 50px;
    border-radius: 10%;
    background-color: rgb(228, 58, 58);
}
.icon2 {
    width: 60px;
}
.icon2:hover{
    width: 65px;
    transition: all 400ms;
    border-radius: 100%;
    background-color: rgb(176, 50, 235);
}
.iconTextoLogo {
    width: 175px;
}
.boxHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search {
    width: 30%;
    height: 25%;
    border-radius: 10px;
    color: gray;
    font-weight: bolder;
    font-size: 16px;
    border: 0;

}
.conta {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: black;

}
.conta:hover {
    transition: all 400ms ;
    background-color: aqua;
    border-radius: 5px;
    max-width: max-content;
    height: 20%;
}
    </style>
<body>

    <header class="boxHeader">
        <img class="iconLogo" src="/images/iconfinder_expand_full_screen_interface_maximize_5402376.svg" alt="iconLogo">
        <img class="iconTextoLogo" src="/images/iconfinder_iconfinder_logo_182504.svg" alt="textoLogo">
       <input type="text" name="search" class="search" placeholder="     search">
       <a class="conta" href="#">Entre ou cadastre-se..</a>
       <a href="#"><img class="icon1" src="/images/iconfinder_bookmark_favorite_heart_love_valentine's day_115727.svg" alt="favoritos"></a>
       <a href="#"><img class="icon2" src="/images/iconfinder_basket_cart_add to cart_bag_carry bag_shopping_ecommerce_8150281.svg" alt=""></a>
    </header>  
</body>