<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cadastroStyle.css">
    <script src="https://kit.fontawesome.com/55ee65c954.js" crossorigin="anonymous"></script>
    <title>Cadastro</title>
</head>
<body>
    <div id="Page">

        <%- include('./partials/nav') %>

        <section>
            <h2>Criar conta:</h2>
            <h3>Dados Pessoais:</h3>
            <form action="/cadastro/criar" method="POST" class="register">
                <div class="coluna">
                        <div class="sectionBox1">
                            <div class="box1"><label for="formulario">TIPO DE PESSOA* :</label><input type="text" name="tipoDePessoa"></div>
                            <div class="box1"><label for="formulario">NOME* :</label><input type="text" name="nome" required></div>
                            <div class="box1"><label for="formulario">SOBRENOME* :</label><input type="text" name="sobrenome" required></div>
                            <div class="box1"><label for="formulario">EMAIL* :</label><input type="email" name="email" required></div>
                            <div class="box1"><label for="formulario">CPF* :</label><input type="text" name="cpf" required></div>
                        </div>
                        <div class="sectionBox2">
                            <div class="box2"><label for="formulario">SENHA* :</label><input type="password" name="senha" required></div>
                            <div class="box2"><label for="formulario">CONFIRMAR SENHA* :</label><input type="password" name="confirmar-senha" required></div>
                                <div class="boxNotARobot">
                                    <input type="checkbox" name="bot" id="bot" required><label for="formulario">Não sou um robô</label>
                                </div>
                        </div>

                </div> 

                <div class="sectionBox3">
                    <label for="formulario">DATA DE NASCIMENTO* :</label><input type="date" name="data" required>
                    <label for="formulario">SEXO* :</label> <select name="sexo" id="">
                        <option selected disabled></option>
                        <option value="#">masculino</option>
                        <option value="#">feminino</option>
                    </select>
                </div>
               <div class="submit">
                   <label for="formulario">*  Campos obrigatótios</label>
                   <button type="submit">ENVIAR</button>
                </div>
            </form>
        </section>
 
        <%- include('./partials/footer') %>

    </div>


    <script src="../js/register/validations.js"></script>
</body>
</html>



