<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/styleFinalizacao.css">
    <title>Compra Finalizada</title>
</head>
<body>
    

 <header>
    <!--Cabecalho-->
      <div>
         <p class="paragrafo1">COMPRA FINALIZADA !</p>
    
      </div>
        
   </header>
 <main>
    <!--Texto-->
    <p class="paragrafo2">Olá, *nome Do Usuário*</p>
    <p class="paragrafo3">O seu pedido foi recebido com sucesso!</p>
    <p class="paragrafo4">Este é o número do seu pedido : 99999999</p>
    <!--botão-->
    <div class="btn">VER EM MINHAS COMPRAS</div>
    <!--Texto-->
    <p class="paragrafo5">Prazo de entrega de 3 a 7 dias úteis!</p>
    <p class="paragrafo6">Os nossos livros são embalados com carinho, e assim que estiver tudo</p>
    <p class="paragrafo6">pronto ele será enviado direto para o endereço informado :)</p>
   <!--botão-->
 
 </main>

</body>

</html>