<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/indexStyle.css">
    <title>Editora</title>
    <script src="https://kit.fontawesome.com/55ee65c954.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include('./partials/nav') %>


    <main>
        <!-- LIVROS DESTAQUES -->
    <div class="highlights">
        
        <div class="title-books-div">
        <h2 class="title-books">ENCONTRE O QUE VOCÊ PRECISA</h2>
        </div>
            <!-- Primeiro Livro -->
        <div class="books">
                <div class="arrow-books"></div>
                
            <div class="book">
                <a href="https://madras.com.br/como-sua-mente-pode-curar-seu-corpo" title="Como Sua Mente Pode Curar Seu Corpo" class="product-image">
                    <img class="lazyOwl" alt="Como Sua Mente Pode Curar Seu Corpo" src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/c/o/como_sua_mente_pode_curar_seu_corpo_rgb.jpg">                        
                </a>
            <h3 class="title-product">Como Sua Mente Pode Curar</h3>
            <p class="product-price">Por: R$39,00</p>
                <div class="div-saiba-mais">
                <button class="btn-saiba-mais">SAIBA MAIS</button>
                </div>
            </div>

            <!-- Segundo livro -->
            <div class="book-two">
                <a href="https://madras.com.br/codigo-pleiadiano-o-grande-resgate-da-alma" title="Código Pleiadiano - O Grande Resgate da Alma" class="product-image">  
                    <img class="lazyOwl" alt="Código Pleiadiano - O Grande Resgate da Alma" src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/c/_/c_digo_pleiadiano_rgb.jpg">               
                </a>
            <h3 class="title-product">Código Pleiadiano</h3>
            <p class="product-price">Por: R$39,00</p>
            <div class="div-saiba-mais">
                <button class="btn-saiba-mais">SAIBA MAIS</button>
                </div>
            </div>

            <!-- Terceiro Livro -->
            <div class="book-three">
                <a href="https://madras.com.br/programados-para-crescer-2-0-use-o-poder-da-neurociencia-para-aprender-e-dominar-qualquer-habilidade" title="Programados para Crescer 2.0 - Use o poder da Neurociência para aprender e dominar qualquer habilidade" class="product-image">    
                    <img class="lazyOwl" alt="Programados para Crescer 2.0 - Use o poder da Neurociência para aprender e dominar qualquer habilidade" src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/p/r/programados_para_crescer_rgb_1_.jpg">                   
                </a>
            <h3 class="title-product">Programados Para Crescer 2.0</h3>
            <p class="product-price">Por: R$39,00</p>
            <div class="div-saiba-mais">
                <button class="btn-saiba-mais">SAIBA MAIS</button>
                </div>
            </div>

            <div class="arrow-books">
                <a href="#left"><i class="fa-solid fa-arrow-right fa-2xl"></i></a>
            </div>

        </div>
            

    </div>


        
        <!-- NAVEGUE PELO SEU UNIVERSO FAVORITO -->
        <section class="favorite">



            <div class="favorite-highlights">
                <div class="title-books-favorites">
                    <h2>NAVEGUE PELO SEU UNIVERSO FAVORITO</h2>
                </div>

            <div class="books">
                <div class="book-one-favorite">
                    <img alt="book" src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/e/v/evolu_o_de_um_kiumba_rgb.jpg">
                    <h3 class="title-product">Como Sua Mente Pode Curar</h3>
                    <p class="product-price">Por: R$39,00</p>

                </div>

                <div class="book-two-favorite">
                    <img alt="book" src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/e/v/evolu_o_de_um_kiumba_rgb.jpg">
                    <h3 class="title-product">Como Sua Mente Pode Curar</h3>
                    <p class="product-price">Por: R$59,00</p>
                </div>

                <div class="book-three-favorite">
                    <img alt="book" src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/e/v/evolu_o_de_um_kiumba_rgb.jpg">
                    <h3 class="title-product">Como Sua Mente Pode Curar</h3>
                    <p class="product-price">Por: R$39,00</p>
                </div>

                <div class="book-four-favorite">
                    <img alt="book" src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/e/v/evolu_o_de_um_kiumba_rgb.jpg">
                    <h3 class="title-product">Como Sua Mente Pode Curar</h3>
                    <p class="product-price">Por: R$39,00</p>
                </div>

                <div class="book-five-favorite">
                    <img alt="book" src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/e/v/evolu_o_de_um_kiumba_rgb.jpg">
                    <h3 class="title-product">Como Sua Mente Pode Curar</h3>
                    <p class="product-price">Por: R$39,00</p>
                </div>

            </div>
        </section>


        <!-- DESTAQUES IMPERDÍVEIS -->
        <section class="favorite-discount">
            <div class="carousel-highlights">
                <div class="title-books-favorites">
                    <h2>DESTAQUES IMPERDÍVEIS!</h2>
            </div>



            <div class="books">
                <div class="arrow-books"></div>
                
            <div class="book">
                <a href="https://madras.com.br/como-sua-mente-pode-curar-seu-corpo" title="Como Sua Mente Pode Curar Seu Corpo" class="product-image">
                    <img class="lazyOwl" alt="Como Sua Mente Pode Curar Seu Corpo" src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/c/o/como_sua_mente_pode_curar_seu_corpo_rgb.jpg">                        
                </a>
            <h3 class="title-product">Como Sua Mente Pode Curar</h3>
            <p class="product-price">Por: R$39,00</p>
                <div class="div-saiba-mais">
                <button class="btn-saiba-mais">SAIBA MAIS</button>
                </div>
            </div>

            <!-- Segundo livro -->
            <div class="book-two">
                <a href="https://madras.com.br/codigo-pleiadiano-o-grande-resgate-da-alma" title="Código Pleiadiano - O Grande Resgate da Alma" class="product-image">  
                    <img class="lazyOwl" alt="Código Pleiadiano - O Grande Resgate da Alma" src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/c/_/c_digo_pleiadiano_rgb.jpg">               
                </a>
            <h3 class="title-product">Código Pleiadiano</h3>
            <p class="product-price">Por: R$39,00</p>
            <div class="div-saiba-mais">
                <button class="btn-saiba-mais">SAIBA MAIS</button>
                </div>
            </div>

            <!-- Terceiro Livro -->
            <div class="book-three">
                <a href="https://madras.com.br/programados-para-crescer-2-0-use-o-poder-da-neurociencia-para-aprender-e-dominar-qualquer-habilidade" title="Programados para Crescer 2.0 - Use o poder da Neurociência para aprender e dominar qualquer habilidade" class="product-image">    
                    <img class="lazyOwl" alt="Programados para Crescer 2.0 - Use o poder da Neurociência para aprender e dominar qualquer habilidade" src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/p/r/programados_para_crescer_rgb_1_.jpg">                   
                </a>
            <h3 class="title-product">Programados Para Crescer 2.0</h3>
            <p class="product-price">Por: R$39,00</p>
            <div class="div-saiba-mais">
                <button class="btn-saiba-mais">SAIBA MAIS</button>
                </div>
            </div>

            <div class="arrow-books">
                <a href="#left"><i class="fa-solid fa-arrow-right fa-2xl"></i></a>
            </div>

        </section>
    </main>


     <%- include('./partials/footer') %>

    <script src="./assets/home.js"></script>
</body>
</html>