<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/stylesheets/listagem.css">
    <script src="https://kit.fontawesome.com/55ee65c954.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div>
            <span>CATEGORIA</span>
            <i class="fa-solid fa-bars"></i>
        </div>

        <div>
            <h2>FICÇÃO CIENTÍFICA</h2>
        </div>

        <div>
            <span>CLASSIFICAR POR</span>
        </div>
    </nav>

    <main>
        <section class="first-books">
            <div class="first-book">
                <img class="first-book-img"alt="bookimg" src="https://lojasaraiva.vteximg.com.br/arquivos/ids/12117317/1009410431.jpg?v=637142278690700000">
                <div class="name-book">
                    <h2>Dracula</h2>
                    <h3>Autor/Autora: Conde Drácula</h3>
                </div> 
                <div class="fa-star-div">
                <i class="fa-regular fa-star fa-2xl"></i>
                <h3 class="fa-star-rate">5,0</h3>
                </div>

                <div class="div-saiba-mais">
                    <button class="btn-saiba-mais">SAIBA MAIS</button>
                    </div>
            </div>

            <div class="second-book">
                <img class="second-book-img"alt="bookimg" src="https://lojasaraiva.vteximg.com.br/arquivos/ids/12117317/1009410431.jpg?v=637142278690700000">
            </div>


            <div class="third-book">
                <img class="third-book-img"alt="bookimg" src="https://lojasaraiva.vteximg.com.br/arquivos/ids/12117317/1009410431.jpg?v=637142278690700000">
            </div>
        </section>

        
    </main>
    
</body>
</html>