@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;

}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2D9BF0;
}

.first-books {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-evenly;
    flex-direction: row;
}

.first-book, .second-book, .third-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    height: 80vh;
    width: 20%;
}

.first-book-img, .second-book-img, .third-book-img {
    width: 80%;
}

.fa-star-div {
    align-self: flex-start;
    margin-left: 9%;
    margin-top: 5%;
}

.fa-star {
    color: #000000;
}

.fa-star-rate {
    margin-left: 10%;
}

.div-saiba-mais {
    position: relative;
    margin-top: 15%;
}

.btn-saiba-mais {
    color: rgb(248, 248, 248);
    border-style: none;
    background-color: #2D9BF0;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}
