@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 1920px;
}

.container {
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    height: 60vh;
    background-color: #2D9BF0;
    border-radius: 40px;
}



h1 {
    margin-top: 10%;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 40%;
}

.text-danger {
    color: #ffffff;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.div-input-email, .div-input-password {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

input[type=email], input[type=password] {
    padding-left: 10px;
    width: 30vw;
    height: 40px;
}

.div-checkbox-keepLogin, .div-submit {
    margin-top: 5%;
}

.login-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
}

button[type=submit] {
    width: 20vw;
    height: 40px;
}

.div-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

