<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <main>
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Deseja realmente excluir ?</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"><b>Produto:</b><%=contexto.produto.nome %></p>
          <p class="lead mb-4"><b>Valor:</b><%=contexto.produto.valor %></p>
          <form action="/produto/<%=contexto.produto.id%>?_method=DELETE" method="post">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="/produto/administrar" class="button btn btn-outline-secondary btn-lg px-4">Cancelar</a>
              <button type="submit" class="btn btn btn-primary btn-lg px-4 gap-3">Sim</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    </main>
    <% include ../partials/footer %>
  </body>
  <% include ../partials/script %>
</html>
