<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal"><%= contexto.title %></h1>
      <p class="fs-5 text-muted">
        Livros que proporcionam o que hรก de melhor nesse mundo, o conhecimento.
      </p>
    </div>
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <% contexto.produtos.forEach(p =>{ %>    
      
        <div class="d-flex justify-content-center mt-5">
          <div class="card" style="width: 18rem">
            <img src="https://madras.com.br/media/catalog/product/cache/1/small_image/196x196/9df78eab33525d08d6e5fb8d27136e95/c/o/como_sua_mente_pode_curar_seu_corpo_rgb.jpg" class="card-img-top" alt="">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal"><bold><%=p.nome%></bold></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title">
              </h1>
              <button type="btn btn-primary" class="w-100 btn btn-lg btn-primary">
                Saiba Mais
              </button>

              
            </div>
          </div>
        </div><% }) %>  
      </div>
    </div>
    </main>
    <% include ../partials/footer %>
    <% include ../partials/script %>
  </body>

</html>
