<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/img/icons8-quarto-minguante-96.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>eboock</title>
</head>
<body>
    <div id="page">
        <header class="boxHeader">
            <img class="iconLogo" src="../public/img/iconfinder_expand_full_screen_interface_maximize_5402376.svg" alt="iconLogo">
            <img class="iconTextoLogo" src="../public/img/iconfinder_iconfinder_logo_182504.svg" alt="textoLogo">
           <input type="text" name="search" id="search" placeholder="     search">
           <a class="conta" href="#">Entre ou cadastre-se..</a>
           <img class="iconLogo" src="../public/img/iconfinder_bookmark_favorite_heart_love_valentine's day_115727.svg" alt="">
           <img class="iconLogo1" src="../public/img/iconfinder_basket_cart_add to cart_bag_carry bag_shopping_ecommerce_8150281.svg" alt="">
        </header>
        <section>
            <div class="subMenu">
            </div>
            <div class="boxLeft">

                <button class="search">contato</button>
                <button class="search">cancalar pedido</button>
                <button class="search">download</button>
                <button class="search">devolução</button>
                <button class="search">troca</button>
                <button class="search">boleto</button>
                <button class="search">perguntas</button>
            </div>
            <div class="boxCenter">
                <h1>Central de Relacionamentos...</h1>
                <div class="subBox1" >
                    <input class="ajuda" type="text" placeholder="Como podemos te ajudar">
                    <button class="buttonSearch">Pesquisar</button>
                </div>
            </div>
        </section>
    </div>
</body>
</html>